*{
    margin: 0;
    padding: 0;
    font-family: "Google Sans Code", monospace;

}
.main_box{
    background: url(photo.jpg);
    background-size: cover;
    height: 100vh;
}
#check{
    display: none;
}
.main_box .btn_one i{
    position: absolute;
    font-size: 30px;
    left: 16px;
    line-height: 60px;
    transition: 0.4s;
}
.main_box .sidebar_menu{
    height: 100vh;
    width: 300px;
    /* padding: 10px; */
    position: fixed;
    /* top: 0px; */
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 1px 4px rgba(255,255,255,0.5);
    left: -300px;
    transition: 0.4s;
}
.main_box .sidebar_menu .btn_two i{
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 2%;
    line-height: 60px;
    transition: 0.4s;
}
.sidebar_menu .logo {
    position: absolute;
    width: 100%;
     box-shadow: 0 2px 4px rgba(255,255,255,0.5);
    height: 60px;
    line-height: 60px;
  }
 .sidebar_menu .logo a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 60px;
    font-weight: 500;
}
.sidebar_menu .menu{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100%;
}
.menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.menu i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.menu i{
    padding-right: 8px;
}
.social_media{
    position: absolute;
    bottom: 100px;
    left: 60px;
    
}
.social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 1px 4px rgba(255,255,255,0.5);
}
.main_box .btn_one i:hover{
    font-size: 35px;
}
.main_box .sidebar_menu .btn_two i:hover{
    font-size: 30px;
}
.social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}
#check:checked ~.sidebar_menu{
   left: 0;
}
#check:checked ~.btn_one i{
    opacity: 0;
}